<div class="container rounded-4 bg-secondary text-light mt-5 p-4">
  <div class="col">
    <h1 class="mb-5">Product Registration</h1>
    <form [formGroup]="productFormGroup">
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Identification:</label>
          <input
            type="number"
            id="id"
            class="form-control"
            formControlName="id"
          />
        </div>
        <div class="col">
          <label class="form-label">Name:</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          />
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <label class="form-label">Price</label>
          <input
            type="text"
            id="price"
            class="form-control"
            formControlName="price"
          />
        </div>
        <div class="col">
          <label class="form-label">Quantity</label>
          <input
            type="number"
            id="quantity"
            class="form-control"
            formControlName="quantity"
          />
        </div>
      </div>
      <div class="form-floating mb-5">
        <textarea
          class="form-control"
          id="description"
          style="height: 80px"
          formControlName="description"
        ></textarea>
        <label for="description">Description</label>
      </div>

      <div class="d-grid mb-5">
        <button (click)="save()" class="btn btn-dark p-2" type="button">
          <h4>Button</h4>
        </button>
      </div>
    </form>

    <h1 class="mb-4">Products</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of product">
          <th scope="col">{{ p.id }}</th>
          <th>{{ p.name }}</th>
          <th>{{ p.price }}</th>
          <th>{{ p.quantity }}</th>
          <th>{{ p.description }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
